/*Global Styles*/
body{
  font-family: Helvetica;
  text-align: center;
}
/*Header*/
header{
  background: #FFF url("../images/the-flatiron-building.png") no-repeat center center;
}
/*Headings*/
h1{
  font-size: 70px;
  font-weight: bold;
  color: #FFF;
}
nav ul li{
  font-family: Helvetica;
  list-style-type: none;
  font-size: 18px;
  padding: 8px;
}
nav a{
  color: #FFF;
}
